<div *ngIf="loading===false">
    <div *ngIf="loggedIn===false">
        <img class="banner" src="https://i.ibb.co/ZJ7LQSF/Reg-Page.jpg" alt="Reg-Page" class="banner">
        Login to register
    </div>
    <div *ngIf="loggedIn===true">
        <div *ngIf="registered===true"></div>
        <div *ngIf="registered===false">
            <img class="banner" src="https://i.ibb.co/ZJ7LQSF/Reg-Page.jpg" alt="Reg-Page" class="banner">
            Choose your events!
            <div class='events'>
        
        
            <!-- <mat-button-toggle #button3 id='3' (click)='addEvent($event)'>
                3x3x3
            </mat-button-toggle> -->
            <div>
            <mat-button-toggle 
            matTooltip="3x3x3"
            matTooltipPosition="above"
            matTooltipShowDelay=1000
            [checked]="event_flags['3']" 
            (change)="event_flags['3'] = $event.source.checked"
            (click) ="addEvent('3')"
            
            >
            <img [style.opacity]="buttonOpacity('3')" src="https://i.ibb.co/WxZD8Xq/1-3x3x3.png" class="reg-icons">
            </mat-button-toggle>
        
            <mat-button-toggle
            matTooltip="2x2x2"
            matTooltipPosition="above"
            matTooltipShowDelay=1000 
            [checked]="event_flags['2']" 
            (change)="event_flags['2'] = $event.source.checked"
            (click) ="addEvent('2')">
            <img [style.opacity]="buttonOpacity('2')"  src="https://i.ibb.co/M8S3fWB/2-2x2x2.png" class="reg-icons">
            </mat-button-toggle
            >
        
            <mat-button-toggle 
            matTooltip="4x4x4"
            matTooltipPosition="above"
            matTooltipShowDelay=1000
            [checked]="event_flags['4']" 
            (change)="event_flags['4'] = $event.source.checked"
            (click) ="addEvent('4')">
            <img [style.opacity]="buttonOpacity('4')" src="https://i.ibb.co/pj1wY2Z/3-4x4x4.png" class="reg-icons">
            </mat-button-toggle>
        
        
                <mat-button-toggle 
                matTooltip="5x5x5"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['5']" 
                (change)="event_flags['5'] = $event.source.checked"
                (click) ="addEvent('5')">
                <img [style.opacity]="buttonOpacity('5')" src="https://i.ibb.co/P6RxKQs/4-5x5x5.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="6x6x6"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['6']" 
                (change)="event_flags['6'] = $event.source.checked"
                (click) ="addEvent('6')">
                <img  [style.opacity]="buttonOpacity('6')" src="https://i.ibb.co/k80pHf0/5-6x6x6.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="7x7x7"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['7']" 
                (change)="event_flags['7'] = $event.source.checked"
                (click) ="addEvent('7')">
                <img [style.opacity]="buttonOpacity('7')" src="https://i.ibb.co/27jmpP0/6-7x7x7.png" class="reg-icons">
                </mat-button-toggle>
                
        
        
        
        
        
        
        
        
                <mat-button-toggle 
                matTooltip="3x3x3 blindfolded"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['3b']" 
                (change)="event_flags['3b'] = $event.source.checked"
                (click) ="addEvent('3b')">
                <img [style.opacity]="buttonOpacity('3b')" src="https://i.ibb.co/WPtpmn6/7-3x3x3-Blindfolded.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="3x3x3 Fewest Moves"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['fmc']" 
                (change)="event_flags['fmc'] = $event.source.checked"
                (click) ="addEvent('fmc')">
                <img  [style.opacity]="buttonOpacity('fmc')" src="https://i.ibb.co/HntJjH7/8-3x3x3-Fewest-Moves.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="3x3x3 One-handed"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['oh']" 
                (change)="event_flags['oh'] = $event.source.checked"
                (click) ="addEvent('oh')">
                <img [style.opacity]="buttonOpacity('oh')" src="https://i.ibb.co/jTdn0MJ/9-3x3x3-One-Handed.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="clock"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['cl']" 
                (change)="event_flags['cl'] = $event.source.checked"
                (click) ="addEvent('cl')">
                <img [style.opacity]="buttonOpacity('cl')" src="https://i.ibb.co/prmXRVY/11-Clock.png" class="reg-icons">
            </mat-button-toggle>
            
            <mat-button-toggle 
            matTooltip="Megaminx"
            matTooltipPosition="above"
            matTooltipShowDelay=1000
                [checked]="event_flags['me']" 
                (change)="event_flags['me'] = $event.source.checked"
                (click) ="addEvent('me')">
                <img [style.opacity]="buttonOpacity('me')" src="https://i.ibb.co/0fkNWmm/12-Megaminx.png" class="reg-icons">
            </mat-button-toggle>
            
            <mat-button-toggle 
            matTooltip="Pyraminx"
            matTooltipPosition="above"
            matTooltipShowDelay=1000
                [checked]="event_flags['py']" 
                (change)="event_flags['py'] = $event.source.checked"
                (click) ="addEvent('py')">
                <img [style.opacity]="buttonOpacity('py')" src="https://i.ibb.co/pW5V53T/13-Pyraminx.png" class="reg-icons">
            </mat-button-toggle>
        
        
        
        
        
        
            
                <mat-button-toggle 
                matTooltip="Skewb"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['sk']" 
                (change)="event_flags['sk'] = $event.source.checked"
                (click) ="addEvent('sk')">
                <img [style.opacity]="buttonOpacity('sk')" src="https://i.ibb.co/60tqYK8/14-Skewb.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="Square-1"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['sq']" 
                (change)="event_flags['sq'] = $event.source.checked"
                (click) ="addEvent('sq')">
                <img [style.opacity]="buttonOpacity('sq')" src="https://i.ibb.co/xznhKX5/15-Square-1.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="4x4x4 Blindfolded"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['4b']" 
                (change)="event_flags['4b'] = $event.source.checked"
                (click) ="addEvent('4b')">
                <img  [style.opacity]="buttonOpacity('4b')" src="https://i.ibb.co/6JHQzXX/16-4x4x4-Blindfolded.png" class="reg-icons">
                </mat-button-toggle>
                
                <mat-button-toggle 
                matTooltip="5x5x5 Blindfolded"
                matTooltipPosition="above"
                matTooltipShowDelay=1000
                [checked]="event_flags['5b']" 
                (change)="event_flags['5b'] = $event.source.checked"
                (click) ="addEvent('5b')">
                <img [style.opacity]="buttonOpacity('5b')" src="https://i.ibb.co/7WZsGCk/17-5x5x5-BLindfolded.png" class="reg-icons">
            </mat-button-toggle>
            
            <mat-button-toggle 
            matTooltip="3x3x3 Multi Blind"
            matTooltipPosition="above"
            matTooltipShowDelay=1000
                [checked]="event_flags['mb']" 
                (change)="event_flags['mb'] = $event.source.checked"
                (click) ="addEvent('mb')">
                <img [style.opacity]="buttonOpacity('mb')" src="https://i.ibb.co/P5cyF5G/18-3x3x3-Multi-Blind.png" class="reg-icons">
            </mat-button-toggle>
            
            
            </div>
        
        <div class="text-content">
            The organising team is planning to organise Shuttle Bus service running from Madhya Kailash
             till the Venue and back with multiple stops. This would be on a nominal charge basis. 
            <div class="check">
             <mat-checkbox>Check if interested</mat-checkbox>
            </div>
            <div class="text-note">
                <b>Note:</b>The transport option is only for surveyance purposes. 
                Official confirmation of the shuttle bus service along with all details will be sent by email once decided.
            </div>

        </div>
        
        
            </div>
        
        
        
        
            <p>{{ cost }}</p>
            <div >
            <button mat-raised-button (click)=makeOrder()>Proceed to Pay</button>
            </div>
        </div>
    </div>
</div>