<!-- 
<h1>End Date {{enddate}}!</h1>
  <p> milliseconds : {{_diff}},</p>

  Days: {{_days}}, Hours: {{_hours}}:{{_minutes}}:{{_seconds}}
-->


  <div class="container">
  <mat-card class="blocks">{{_days}} <div class="count-down-tag">DAYS</div></mat-card>
  <mat-card class="blocks">{{_hours}}<div class="count-down-tag">HOURS</div></mat-card>
  <mat-card class="blocks">{{_minutes}}<div class="count-down-tag">MINS</div></mat-card>
  <mat-card class="blocks">{{_seconds}} <div class="count-down-tag">SECS</div></mat-card>
  </div>

<!--   
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>{{_days}} <br> days</mat-grid-tile>
    <mat-grid-tile>{{_hours}}</mat-grid-tile>
    <mat-grid-tile>{{_minutes}}</mat-grid-tile>
    <mat-grid-tile>{{_seconds}}</mat-grid-tile>
  </mat-grid-list> -->

  