.blocks{
    min-width : 100 px;
    display: inline-block;
    height: 100%;
    margin: 5px;
    margin-top: 40px;
    font-family: 'Bebas Neue';
    font-size:   calc(20px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
    
    }
mat-card{
    min-width:20px;
    min-height:30px;
    width: 20%;
    height: 20%;
    background-color: #F3EED9;
    color:#a1282f;
}

.count-down-tag{
    font-size: calc(8px + (23 - 14) * ((100vw - 300px) / (1600 - 300)));
}
  /* mat-grid-list{
      width:200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     
  }
  mat-grid-tile {
    background: red;
    color: yellow;
    border-radius: 10px;
    
  } */