<img src="https://i.ibb.co/RH1gJFB/Comp.jpg" alt="Comp" class="banner">

<div class="full">

    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="competitorsDataSource">
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Citizen of Column -->
          <ng-container matColumnDef="citizenOf">
            <th mat-header-cell *matHeaderCellDef> Citizen Of </th>
            <td mat-cell *matCellDef="let element"> {{element.citizenOf}} </td>
          </ng-container>
      
          <!-- three Column -->
          <ng-container matColumnDef="three">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.three}} </th>
            <td mat-cell *matCellDef="let element"> {{element.three}} </td>
          </ng-container>

          <!-- two Column -->
          <ng-container matColumnDef="two">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.two}} </th>
            <td mat-cell *matCellDef="let element"> {{element.two}} </td>
          </ng-container>

          <!-- four Column -->
          <ng-container matColumnDef="four">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.four}} </th>
            <td mat-cell *matCellDef="let element"> {{element.four}} </td>
          </ng-container>

          <!-- five Column -->
          <ng-container matColumnDef="five">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.five}} </th>
            <td mat-cell *matCellDef="let element"> {{element.five}} </td>
          </ng-container>

          <!-- six Column -->
          <ng-container matColumnDef="six">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.six}} </th>
            <td mat-cell *matCellDef="let element"> {{element.six}} </td>
          </ng-container>

          <!-- seven Column -->
          <ng-container matColumnDef="seven">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.seven}} </th>
            <td mat-cell *matCellDef="let element"> {{element.seven}} </td>
          </ng-container>

          <!-- bld3 Column -->
          <ng-container matColumnDef="bld3">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.bld3}} </th>
            <td mat-cell *matCellDef="let element"> {{element.bld3}} </td>
          </ng-container>

          <!-- fmc Column -->
          <ng-container matColumnDef="fmc">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.fmc}} </th>
            <td mat-cell *matCellDef="let element"> {{element.fmc}} </td>
          </ng-container>

          <!-- oh Column -->
          <ng-container matColumnDef="oh">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.oh}} </th>
            <td mat-cell *matCellDef="let element"> {{element.oh}} </td>
          </ng-container>

          <!-- clock Column -->
          <ng-container matColumnDef="clock">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.clock}} </th>
            <td mat-cell *matCellDef="let element"> {{element.clock}} </td>
          </ng-container>

          <!-- mega Column -->
          <ng-container matColumnDef="mega">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.mega}} </th>
            <td mat-cell *matCellDef="let element"> {{element.mega}} </td>
          </ng-container>

          <!-- pyra Column -->
          <ng-container matColumnDef="pyra">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.pyra}} </th>
            <td mat-cell *matCellDef="let element"> {{element.pyra}} </td>
          </ng-container>

          <!-- skewb Column -->
          <ng-container matColumnDef="skewb">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.skewb}} </th>
            <td mat-cell *matCellDef="let element"> {{element.skewb}} </td>
          </ng-container>

          <!-- sq1 Column -->
          <ng-container matColumnDef="sq1">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.sq1}} </th>
            <td mat-cell *matCellDef="let element"> {{element.sq1}} </td>
          </ng-container>

          <!-- bld4 Column -->
          <ng-container matColumnDef="bld4">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.bld4}} </th>
            <td mat-cell *matCellDef="let element"> {{element.bld4}} </td>
          </ng-container>

          <!-- bld5 Column -->
          <ng-container matColumnDef="bld5">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.bld5}} </th>
            <td mat-cell *matCellDef="let element"> {{element.bld5}} </td>
          </ng-container>

          <!-- mbld Column -->
          <ng-container matColumnDef="mbld">
            <th mat-header-cell *matHeaderCellDef> {{eventIconUrls.mbld}} </th>
            <td mat-cell *matCellDef="let element"> {{element.mbld}} </td>
          </ng-container>
      
          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>