
<style>
.example-card {
  max-width: 320px;
  
  
}

.example-header-image {
  /* background-color: #F3EED9; */
  background-size: cover;
}

.blocks{
  display: inline-block;
  height: 100%;
  margin: 20px;
}




mat-card img{
  object-fit: cover; 
  width: 100%; 
  max-height: 500px;
  margin-bottom: 20px;
}
 
.mat-card-header {
  
 justify-content: center;
}

.mat-card p{
  color: #3a3a3a;
  text-align: justify;
}

.mat-card{
  background-color: #F3EED9;
}

.mat-card-title{
  font-weight: bold;
}

</style>

<img src="https://i.ibb.co/vQqQyjw/Team.jpg" alt="Team" class="banner">
<div>




  <mat-card class="example-card blocks"  >
    <mat-card-header>
      
      <mat-card-title >Aashrit Maheish</mat-card-title>
      
    </mat-card-header>
    <img src="https://i.ibb.co/MVJXS41/Aashrit.jpg" alt="Aashrit">
    <mat-card-content>
      <p>
        A cuber since 2014, he has attended 22 competitions and organised over 10 competitions. Aashrit leads the Travel & Accommodation team and the Marketing & Media team of the Organizing Committee.

      </p>
    </mat-card-content>
  
  </mat-card>



<mat-card class="example-card blocks">
  <mat-card-header>
    
    <mat-card-title>Adithyaa Anand</mat-card-title>
    
  </mat-card-header>
  <img src="https://i.ibb.co/PCvPhhM/Adithyaa.jpg" alt="Adithyaa" >
  <mat-card-content>
    <p>
      A cuber since 2013, he has attended 34 competitions and organised over 15 competitions. Adithyaa leads the Venue & Logistics team of the Organizing Committee.
   <br>&nbsp;
    </p> 
  </mat-card-content>


 
</mat-card>





<mat-card class="example-card blocks">
  <mat-card-header>
    
    <mat-card-title>Pritesh Lunkad</mat-card-title>
    
  </mat-card-header>
  <img src="https://i.ibb.co/cLh0mpB/Pritesh.jpg" alt="Pritesh" >
  <mat-card-content>
    <p>
      A cuber since 2014, he is a member of SRM Cube Club and the Chennai Cubing Club. Pritesh leads the Volunteer Management team of the Organising Committee.
  
      <br>&nbsp;
    </p> 
  </mat-card-content>

</mat-card>



  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Rahul Venkatesan</mat-card-title>
      
    </mat-card-header>
    <img src="https://i.ibb.co/ZVGMLDJ/Rahul.jpg" alt="Rahul" >
    <mat-card-content>
      <p>
        A cuber since 2014, he has attended 32 competitions and organised over 10 competitions. Rahul leads the Design Team and the Creatives Team of the Organising Committee.
      </p>
    </mat-card-content>
  
  </mat-card>
  


</div>



  
  
<div>

  
  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title >Rohan Shyam Chowdhury</mat-card-title>
      
    </mat-card-header>
    <img src="https://i.ibb.co/Wx6cnsg/Rohan.jpg" alt="Rohan" >

    <mat-card-content>
      <p>
        A cuber since 2013, he is the convener of SRM Cube Club. Rohan leads the Design Team and the Travel & Accomodation team of the Organising Committee.

        <br>&nbsp;
      </p>
    </mat-card-content>
  
  </mat-card>

  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Sachin Arvind</mat-card-title>
     
    </mat-card-header>
    <img src="https://i.ibb.co/XL0TSHL/Sachin.jpg" alt="Sachin" >
    <mat-card-content>
      <p>
        A cuber since 2013, he has attended 70 competitions, organised over 25 competitions and delegated 24 competitions. Sachin leads the Planning team and the Finance team of the Organizing Committee.

      </p>
    </mat-card-content>
  
  </mat-card>
  



  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Sai Phanindar Reddy Allam</mat-card-title>
      

    </mat-card-header>
    <img src="https://i.ibb.co/nbkV9pB/Sai.jpg" alt="Sai" >
    <mat-card-content>
      <p>
        A cuber since 2018, he is the convener of SRM Cube Club. Sai leads the Finance team and the Marketing & Media team of the Organising Committee. 
        <br>&nbsp;
      </p>
      
    </mat-card-content>
  
  </mat-card>
  





  
  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Saravanan Gowthaman</mat-card-title>
      
    </mat-card-header>
    <img src="https://i.ibb.co/t3XKP15/Saravanan.jpg" alt="Saravanan" >
    <mat-card-content>
      <p>
        A cuber since 2015, he has attended 37 competitions and organised over 15 competitions. Saravanan leads the Website team of the Organizing Committee.
        <br>&nbsp;
      </p>
      
    </mat-card-content>
  
  </mat-card>

  <!-- <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Shreevatsh Rajkumar</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/x8R3TWk/Shreevatsh-Rajkumar-sq.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card> -->
  
  </div>