
<style>
.example-card {
  max-width: 400px;
  
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.blocks{
  display: inline-block;
  margin: 20px;
}




mat-card img{
  object-fit: cover; 
  width: 100%; 
  max-height: 500px;
}


</style>

<div>

  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title >Aashrit Maheish</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/HqnfCpY/Aashrit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>



<mat-card class="example-card blocks">
  <mat-card-header>
    
    <mat-card-title>Adithyaa Anand</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="https://i.ibb.co/JcyhKmF/Adithyaa.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>


 
</mat-card>



<mat-card class="example-card blocks">
  <mat-card-header>
    
    <mat-card-title>Pritesh Lunkad</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="https://i.ibb.co/ggKP7hB/Pritesh.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card>

</div>




<div>


  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Rahul Venkatesan</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/8YHmJbg/Rahul.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>
  
  
  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title >Rohan Shyam Chowdhury</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/HqnfCpY/Aashrit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>

  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Sachin Arvind</mat-card-title>
     
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/SJz3RH3/Sachin.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>
  
  </div>


  
<div>


  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Sai Phanindar Reddy Allam</mat-card-title>
      

    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/W368WQ9/sai.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>
  
  
  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Saravanan Gowthaman</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/nsvNfJ2/Saravanan.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>

  <mat-card class="example-card blocks">
    <mat-card-header>
      
      <mat-card-title>Shreevatsh Rajkumar</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://i.ibb.co/x8R3TWk/Shreevatsh-Rajkumar-sq.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>
  
  </div>