<img src="https://i.ibb.co/mvTCMM1/Travel.jpg" alt="Travel" class="banner" >

<div class="travel-header">
    Reaching the City
</div>

<div class="text-content">
    The nearest Airport from the campus is the Chennai Airport (MAA), located at a distance of 23.5 km. 
    For those preferring travel via Rail, there are 3 junctions which may be beneficial for those coming from 
    outside the city - Chennai Central (46 km), Chennai Egmore (44 km) and Chengalpattu junction (17 km).

</div>

<div class="travel-header">
    Reaching the Venue
</div>
<div class="travel-sub-header">
    A) Using Chennai Local Trains (The easiest option)
</div>
<img class="sub-banner" src="https://i.ibb.co/mv0xhyc/Chennai-Local-Railway-Route.png" alt="Chennai-Local-Railway-Route">
<div class="text-content">
<b>KEY</b> <br>
<b>Potheri:</b> This is the closest local railway station to the venue. A free shuttle bus service plies regularly to and from the campus to a point right opposite to the station. MSB-CGL trains should be taken. <br>
<b>Chennai Park:</b> This is the local railway station situated opposite to the Chennai Central station. An underground subway connects the two.<br>
<b>Chennai Egmore:</b> Local trains and Express trains both plies from here. To get on to a local train, one must change platforms.<br>
<b>Tirusulam:</b> This is the local train station located right opposite to the airport, with an underground subway connecting the two. One can also change here for the Airport Metro station (To reach Chennai Central, if necessary).<br>
<b>Chengalpattu Jn:</b> Local trains and Express trains both plies from here. To get on to a local train, one must change platforms.<br>

</div>
<div class="travel-sub-header">
    B) The Venue may be reached via cab (Ola/Uber).
</div>
<iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr1_DNw33UjoRF_jI8OzoCxU&key=AIzaSyBAdkDkZnsB4BrG5lPmsKCtJ71VUyRzzRQ" allowfullscreen></iframe>


<div class="travel-header">
    Reaching the Venue Building
</div>
<div class="travel-sub-header">
    Internal Bus Service
</div>
<div class="text-content">
    SRM has a dedicated, free bus service running from the Annexure Campus, 
    inside which is located TP Ganesan Auditorium, where the competition will be held,
    to the entrance of the Main Campus, which is right opposite to the Potheri Railway Station. 
    Local trains ply regularly on the line, the Airport (Tirusulam station), and the Railway Station (Park station) without any hassle.
    There is also an option to switch to the Metro at the Airport for reaching Chennai Central.
    The free shuttle service from and to the Annexure Campus and the Main Gate starts at 8 AM 
    in the morning and ends at 9 PM with a frequency of departure every 10-15 minutes both ways.

</div>
<div class="travel-sub-header">
    Here is a Route Map of the Free Shuttle Pickup/Dropoff Service
</div>

<img class="sub-banner" src="https://i.ibb.co/2qzPLdb/Reaching-the-Venue-C.png" alt="Reaching-the-Venue-C">
<div class="text-content">
<b>KEY</b> <br>
<b>1.</b> Shuttle Bus Service, Pickup Point 1. <br>
<b>2.</b> Shuttle Bus Service, Drop off Point. Main Campus/Railway Station Pickup Point.<br>
<b>3.</b> Potheri Local Train Station.<br>
<b>4.</b> TP Ganesan Auditorium (Venue).<br>
<b>5.</b> Shuttle Bus Service, Pickup Point 2. Shuttle Bus Service, Campus Drop off point.<br>
<b>A.</b> Arch Gate (Campus Entry Point). This is <b>not</b> a Shuttle Service point.<br>
The <b>Red</b> Line is the Shuttle Bus Service Route. (Travel Duration: 2 min)<br>
The <b>Purlple</b> Line is the Route from Drop-off to Venue by Walk. (Travel Duration: 2 min)<br>

</div>





