.travel-header{
    text-align: left;
    margin: 10px 5% 5px 5%;
    font-size: calc(25px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.7em + (1.8 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}
.travel-sub-header{
    text-align: left;
    margin: 10px 5% 5px 5%;
    font-size: calc(23px + (27 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.7em + (1.8 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}
.text-content{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.7em + (1.8 - 1.2) * ((100vw - 300px)/(1600 - 300)));

    
    text-align: justify;
    margin: 10px 5% 10px 5%;
}
.sub-banner{
    margin : 15px 2.5% 20px 2.5%;
    width : 95%;
    
}

.map{
    width : 80%;
    height: 200px;
}
.banner{
    margin : 0 0 0 0;
    width : 100%;
}
 