.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 14px 14px;
    cursor: pointer;
}

.selected {
    background-color: #e7e7e7;
}

mat-card img{
    width: 20%;
    height: 20%;
}

.mat-sidenav-container{
  background-color: #ffffff;
  min-height: 93vh !important;
}

div {
    overflow: inherit;
}

.mat-toolbar{
  height: 7vh;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}