<div>
  <mat-toolbar fxShow="true" fxHide.lt-lg="true" color="#ebdcd7">
    <h1 class="heading" (click)="open(homeRoute)">Indian Nationals 2020</h1>
    <div>
      <span
        *ngFor="let page of appRoutes"
        [ngClass]="{ 'top-tab': true, selected: isCurrentRouter(page) }"
        [routerLink]="[page.path]">
          {{ page.title }}</span>
    </div>
    <span class="example-spacer"></span>
    <div>
      <span
        class="top-tab-right"
        *ngIf="loggedIn === false"
        (click)="login()">
          Login</span>
      <span
        class="top-tab-right"
        *ngIf="loggedIn === true"
        (click)="logout()">
          Logout</span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-md="true"
      (click)="sidenav.toggle()"
    >
      <div fxLayout="column">
        <span
          *ngFor="let page of appRoutes"
          (click)=open(page)
          [ngClass]="{ 'top-tab': true, selected: isCurrentRouter(page) }"
          >{{ page.title }}</span
        >
        <span class="top-tab" *ngIf="loggedIn === false" (click)="login()"
          >Login</span
        >
        <span class="top-tab" *ngIf="loggedIn === true" (click)="logout()"
          >Logout</span
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <table fxShow="true" fxHide.gt-md="true" style="width:100%; vertical-align: middle;">
        <tr>
          <th style="display: flex;">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </th>
          <th style="width: 100%;">
            <h1 class="heading heading-sidenav" (click)="open(homeRoute)">Indian Nationals 2020</h1>
          </th>
        </tr>
      </table>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>