@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
.example-spacer {
  flex: 1 1 auto;
}

.heading {
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-size: 27px;
    color:#a1282f;
}

.heading-sidenav {
    width: 100%;
    margin: auto;
    text-align: center;
}

.top-tab {
    font-family: "Bebas Neue";
    font-size: 20px;
    padding: 7px 14px;
    cursor: pointer;
}

.top-tab-right {
    font-family: "Bebas Neue";
    font-size: 22px;
    padding: 7px 14px;
    cursor: pointer;
}

.top-tab:focus {
    outline: none;
}

.selected {
    background-color: #e7e7e7;
}

div {
    overflow: inherit;
}

mat-card img {
  width: 20%;
  height: 20%;
}

.mat-sidenav-container {
  background-color: #ffffff;
  min-height: 93vh !important;
}

.mat-toolbar {
  height: 7vh;
}

.mat-sidenav-content {
  font-size: 200%;
  /* text-align: center; */
}

button:focus {
  outline: none;
  border: 0;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 0px !important;
}