.banner{
    margin : 0 0 0 0;
    width : 100%;
}
.countdown{
    width: 100%;
}
.home-header{
    text-align: left;
    margin: 10px 5% 5px 5%;
    font-size: calc(25px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}
.text-content{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    color: #3a3a3a;
    
    text-align: justify;
    margin: 10px 5% 10px 5%;
}

.sub-banner{
    margin : 15px 2.5% 20px 2.5%;
    width : 95%;
}

.key-banner{
    margin : 0 0 0 0;
    width : 100%;
    background-color:#56101b;
    padding: 20px;
    color:#ebdcd7;
}
.key-header{
    text-align: center;
    font-size: calc(25px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.7em + (1.8 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
.key-content{
   text-align: left;
   font-size: calc(20px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
   line-height: calc(1.7em + (1.8 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}


.blocks{
    display: flex;
    display: inline-block;
    height: 100%;
    margin: 20px;
  }
.volform{
    margin-top:30px;
    background-color: #00690e;
    color: #ebdcd7;
    font-size: calc(17px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
}

  /* text-align:center;
  position:relative;
  margin:20px auto auto auto;
  width:auto;
  padding:20px 5% 30px 5%;
  display:table;
  background-color:#fff;
  border-radius:20px;
  font-size:25px;
  border-width:10px;
  max-width: 470px; */