
<img class="banner" src="https://i.ibb.co/6BrTBgY/Whats-App-Image-2020-01-29-at-9-57-22-PM.jpg">
<!-- <countdown-timer [end]="'2018-01-01 00:00:00'"></countdown-timer> -->

<div class="countdown">
<app-count-down enddate="'2020-04-24'"  ></app-count-down>
</div>
<div class="home-header">
    The Prestige
</div>
<div class="text-content">
    Speedcubers from around the country come together for an intense puzzle solving competition, every year - the Indian Nationals. With every passing year, the event has lived up to the expections of being exciting for not only the participants but also the viewers. 
<br>
    The city of Chennai is all geared up to welcome competitors and guests from all around for the Indian Nationals 2020.

</div>

<img class="sub-banner" src="https://i.ibb.co/94RnJGs/Cubing2-0.png" alt="Cubing" >

<div class="key-banner row">
    <h2 class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 key-header">
      Key information
    </h2>
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 key-content">
      <b>Dates</b> : 24-26 April <br>
      <b>Location</b> : Chennai, Tamilnadu <br>
      <b>Venue</b> : SRM institute of technology<br>
    </div>
  </div>

  <div class="home-header">
    About our venue
</div>
<div class="text-content">
    Chennai is the capital city of the state with enormous cultural importance, Tamil Nadu. Chennai is proud to be hosting the Indian Nationals 2020.
</div>

<img class="sub-banner" src="https://i.ibb.co/Y0ZtsW4/TPGH.png" alt="TPGH" border="0">