
<!-- <img src="https://i.ibb.co/gdq61w2/Nats-2020-Banner.jpg" alt="Nats-2020-Banner" class="banner"> -->
<img src="https://i.ibb.co/bBxZyx7/Nats-2020-Banner-HR.jpg" alt="Nats-2020-Banner" class="banner">


<!-- <countdown-timer [end]="'2018-01-01 00:00:00'"></countdown-timer> -->

<!-- <div class="countdown">


<app-count-down enddate="'2020-04-24'"  ></app-count-down>
<div> -->


  <img class="sub-banner" src="https://i.ibb.co/N6rqmBr/CU.jpg" alt="Cubing" >

  <div class="home-header">
    Cancellation of Indian Nationals 2020
</div>
<div class="text-content">
  In light of the current situation regarding COVID-19 both in India as well as around the world, it is with great regret that we inform you that Indian Nationals 2020 stands <b>CANCELLED</b>.
<br><br>
  All fee paid towards Competition registration, Accommodation, and Merchandise will be refunded 100% <b>EXCLUDING</b> the Payment Gateway charges and refunds will be processed shortly.
  <br><br>
  We would like to thank the WCA Delegates, Sponsors, and the cubing community for supporting us this far.
  <br><br>
  Until next time!<br>
Anbuden,<br>
Team Nats'20<br>
</div>


<hr>


<div class="home-header">
    The Legacy
</div>
<div class="text-content">
    Speedcubers from around the country come together for an intense puzzle-solving competition, every year - the Indian Nationals. With every passing year, the event has lived up to the expections of being exciting for not only the participants but also the viewers. 
<br>
    The city of Chennai is all geared up to welcome competitors and guests from all around for the Indian Nationals 2020.

</div>

<img class="sub-banner" src="https://i.ibb.co/94RnJGs/Cubing2-0.png" alt="Cubing" >

<div class="key-banner row">
    <p class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-header">
      Key information
    </p> 
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 key-content">
      Dates: <b>April 23-26, 2020</b><br>
      Location: <b>Chengalpattu, Tamil Nadu</b> <br>
      Venue: <b>SRM Institute of Science and Technology</b><br>
    </div>
  </div>

  <div class="home-header">
   The venue
</div>
<div class="text-content">
  Chennai is the capital city of the state with enormous cultural importance, Tamil Nadu. Also known as the Cultural Capital of India, the city has far more to offer than what meets the eye. 
  <br>
  The competition will be held at SRM Institute of Science and Technology's TP Ganesan Auditorium, which is one of Asia's Largest Pillarless Auditoriums. 
  Chennai is proud to be hosting the Indian Nationals 2020.
</div>

<img class="sub-banner" src="https://i.ibb.co/Y0ZtsW4/TPGH.png" alt="TPGH" border="0">