
<img class="banner" src="https://i.ibb.co/6BrTBgY/Whats-App-Image-2020-01-29-at-9-57-22-PM.jpg">
<!-- <countdown-timer [end]="'2018-01-01 00:00:00'"></countdown-timer> -->

<div class="countdown">
<app-count-down enddate="'2020-04-24'"  ></app-count-down>
</div>
<div class="home-header">
    The Legacy
</div>
<div class="text-content">
    Speedcubers from around the country come together for an intense puzzle solving competition, every year - the Indian Nationals. With every passing year, the event has lived up to the expections of being exciting for not only the participants but also the viewers. 
<br>
    The city of Chennai is all geared up to welcome competitors and guests from all around for the Indian Nationals 2020.

</div>

<img class="sub-banner" src="https://i.ibb.co/94RnJGs/Cubing2-0.png" alt="Cubing" >

<div class="key-banner row">
    <p class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-header">
      Key information
    </p> 
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 key-content">
      Dates: <b>April 23-26, 2020</b><br>
      Location: <b>Chengalpattu, Tamilnadu</b> <br>
      Venue: <b>SRM Institute of Science and Technology</b><br>
    </div>
  </div>

  <div class="home-header">
    About our venue
</div>
<div class="text-content">
  Chennai is the capital city of the state with enormous cultural importance, Tamil Nadu. Also known as the Cultural Capital of India, the city has far more to offer than what meets the eye. 
  <br>
  The competition will be held in SRM Institute of Science and Technology's TP Ganesan Auditorium, which happens to be Asia's Largest Pillarless Auditorium. 
  Chennai is proud to be hosting the Indian Nationals 2020.
</div>

<img class="sub-banner" src="https://i.ibb.co/Y0ZtsW4/TPGH.png" alt="TPGH" border="0">