<img src="https://i.ibb.co/mh8brFb/Accomm.jpg" alt="Accomm" class="banner">
<!-- <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div style="margin-top: 30px;">
    Bookings open on February 14, 2020. 
    <i class="em em-wink" aria-role="presentation" aria-label="BIRD"></i>
</div> -->



<div class="form-container">

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" required>
      </mat-form-field>
      <br>
      
      <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input  matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"disabled >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker [startView]="'multi-year'" [startAt]="dobstart" disabled="false"></mat-datepicker>
      </mat-form-field>




 <div>
    <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="mainselect">
          <mat-option value="main1">Raju's Residency Park</mat-option>
          <mat-option value="main2">SRM Hostel Dormitory</mat-option>
        </mat-select>
      </mat-form-field>

 </div>
 
 <div *ngIf="mainselect==='main2'" >
   

     <mat-form-field>
        <mat-label>check-in</mat-label >
        <mat-select [(value)]="dormin" (openedChange)="payshare($event)">

          <mat-option value=1>22rd Feb</mat-option>
          <mat-option value=2>23rd Feb</mat-option>
          <mat-option value=3>24th Feb</mat-option>
          <mat-option value=4>25th Feb</mat-option>
          <mat-option value=5>26th Feb</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>check-out</mat-label >
        <mat-select [(value)]="dormout" (openedChange)="payshare($event)">

            <mat-option value=1>22rd Feb</mat-option>
            <mat-option value=2>23rd Feb</mat-option>
            <mat-option value=3>24th Feb</mat-option>
            <mat-option value=4>25th Feb</mat-option>
            <mat-option value=5>26th Feb</mat-option>
        </mat-select>
    </mat-form-field>



 </div>


 <div *ngIf="mainselect==='main1'">



    <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="shared3">Triple Sharing</mat-option>
      <mat-option value="shared2">Double Sharing</mat-option>
      <mat-option value="entire">Entire Room</mat-option>
    </mat-select>
  </mat-form-field>



  <!-- double/triple sharing #######################-->

<div *ngIf="selected==='shared2' ||  selected==='shared3'" >

    <form>
        
        <mat-form-field>
            <mat-label>Select an option</mat-label >
            <mat-select [(value)]="accomodationChoice" (openedChange)="payshare($event)">
              <mat-option value="t1">23rd to 26th Feb</mat-option>
              <mat-option value="t2">23rd to 27th Feb</mat-option>
              <mat-option value="t3">22rd to 26th Feb</mat-option>
              <mat-option value="t4">22rd to 27th Feb</mat-option>
            </mat-select>
            <mat-hint>checkin in after 1:00pm, checkout before 11:00 am </mat-hint>
        </mat-form-field>
<br>

<mat-form-field>
    <mat-label>Preferred Room mate</mat-label>
    <textarea matInput></textarea>
    <mat-hint>Alotted based on availability</mat-hint>
  </mat-form-field>

    </form>





</div>




<!-- Entire room #######################################-->


<div  *ngIf="selected==='entire'" >
    <mat-form-field>
        <mat-label>Select an option</mat-label >
        <mat-select [(value)]="fulltype" (openedChange)="payshare($event)">
            <mat-option value=2>Double Occupancy</mat-option>
            <mat-option value=3>Triple Occupancy</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>check-in</mat-label>
        <input  matInput [matDatepicker]="picker1" (dateInput)="entirecheckin('input', $event)" (dateChange)="entirecheckin('change', $event)" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi  #picker1 [startAt]="startDate" disabled="false"></mat-datepicker>
        <mat-hint>Checkin only after 1:00pm</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>check-out</mat-label>
        <input  matInput [matDatepicker]="picker2" (dateInput)="entirecheckout('input', $event)" (dateChange)="entirecheckout('change', $event)" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2  [startAt]="startDate" disabled="false"></mat-datepicker>
        <mat-hint>Checkout only before 11:00am</mat-hint>
    </mat-form-field>




</div>
</div>

<div>
    <div style="font-family:'Times New Roman', Times, serif">
        ₹ {{ amount }}
    </div>
    <button class="pay-btn" mat-raised-button (click)=makeOrder() *ngIf="amount>0">Proceed to Pay</button>
</div>



</div>