<img src="https://i.ibb.co/mh8brFb/Accomm.jpg" alt="Accomm" class="banner" />
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  <!-- <div style="margin-top: 30px;">
      Bookings open on February 16, 2020.
  </div> -->


  <div  class="container-fluid">
    <div *ngIf="paidAccomodationCount>1" class="prev">
      You have {{paidAccomodationCount}} previous reservations made.
    </div>
    <div *ngIf="paidAccomodationCount===1" class="prev">
      You have 1 previous reservation made.
    </div>

    <div class="text-content">
      
        <div class="travel-header">
          What we have to offer
      </div><br />
      <p>
        The Travel & Accommodation brings to you this year a comfortable yet
        affordable stay through our travel partner, Raju’s Residency Park Hotel.
        Located just 1.5 Km away from the venue, Raju’s Residency Park offers a
        room featuring modern architecture and a comfortable bed with an attached
        bathroom and air-conditioning. This would be the right fit if you are
        traveling as a family or coming to the competition as a group of friends.
        What’s special this year is that if you are a competitor traveling alone,
        instead of paying for an entire room, you can still enjoy a comfortable
        stay at the hotel on a sharing basis and the accommodation team will put
        you together with fellow competitors who are looking for a sharer as well
      </p>
      <br />
  
      <p>
        On the other hand, if you are looking for accommodation that is soft on
        your pocket but lighter on the amenities as well, we also offer a
        no-frills stay at the dormitories on the campus itself.
      </p>
      <p>
        The dormitories are on a sharing basis with common bathrooms and toilets.
        Please note that only a mattress and a pillow will be provided for each.
        Kindly fill up the following details to enjoy a comfortable stay during
        Indian Nationals 2020.
      </p>
    </div>



  
    <div class="container">

      <div class="cost-table mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          </ng-container>
        
  
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
      </div>

      <div class="text-header">FAQs</div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            1. What is the difference between Raju Residency and SRM Dormitories
          </mat-expansion-panel-header>
          Raju Residency is the accommodation partner of Indian Nationals 2020.
          Located 1.7 Km away from the venue, it offers a hotel room with complete
          amenities including Air Conditioning, bedding, and toiletries. SRM
          Dormitories are provided on-campus itself and offer a stay on a sharing
          basis without the additional amenities. Only a mattress and a pillow
          will be provided.
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            2. What is Sharing Basis in Raju Residency?
          </mat-expansion-panel-header>
          This year, if you are a competitor traveling alone and looking for a
          comfortable stay but yet, do not want to take an entire room for
          yourself, you can opt for a room on sharing basis where the
          accommodation team will accommodate you with fellow competitors who are
          traveling alone as well.
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            3. Can parents avail a room on a sharing basis?
          </mat-expansion-panel-header>
          No. The sharing option is exclusively for participants only. If you are
          a parent traveling with your Son/Daughter for the competition, you are
          more than welcome to stay at Raju Residency by booking an entire room
          for yourself.
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            4. Can parents stay in the SRM Dormitories?
          </mat-expansion-panel-header>
          No, The dormitories on campus are exclusively for participants only. If
          you are a parent traveling with your Son/Daughter for the competition,
          you are more than welcome to stay at Raju Residency by booking an entire
          room for yourself.
        </mat-expansion-panel>
      </mat-accordion>
    </div>
   The accommodation booking has been suspended.