<img src="https://i.ibb.co/mh8brFb/Accomm.jpg" alt="Accomm" class="banner" />
<!-- <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div style="margin-top: 30px;">
    Bookings open on February 14, 2020. 
    <i class="em em-wink" aria-role="presentation" aria-label="BIRD"></i>
</div> -->

<div class="text-content">
  <p>
    Dear Participant, <br />
    The Travel & Accomodation brings to you this year a comfortable yet
    affordable stay through our travel partner, Raju’s Residency Park Hotel.
    Located just 1.5 Km Away from the venue, Raju’s residency offers a room
    featuring modern architecture and a comfortable bed with an attached
    bathroom and air-conditioning. What’s special this year is that if you are a
    competitor travelling alone, instead of paying for an entire room, you can
    still enjoy a comfortable stay at the hotel on a sharing basis and the
    accommodation team will put you together will fellow competitors who are
    looking for a sharer as well.
  </p>
  <br />

  <p>
    On the other hand, if you are looking for an accommodation that is soft on
    your pocket but lighter on the amenities as well, we also offer a no-frills
    stay at the dormitories on campus itself. The dormitories are on a sharing
    basis with a common bathroom and toilet. Only a mattress and a pillow will
    be provided. Kindly fill up the following details to enjoy a comfortable
    stay during Indian Nationals 2020
  </p>
</div>
<div
  class="row space flex-column-reverse flex-md-row card"
  style="margin-top: 50px;">
  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
    <div class="card-body">
      <div class="form-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" required />
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)"
            disabled
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #picker
            [startView]="'multi-year'"
            [startAt]="dobstart"
            disabled="false"
          >
          </mat-datepicker>
        </mat-form-field>

        <div>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="mainselect">
              <mat-option value="main1">Raju's Residency Park</mat-option>
              <mat-option value="main2">SRM Hostel Dormitory</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="mainselect === 'main2'">
          <mat-form-field>
            <mat-label>check-in</mat-label>
            <mat-select [(value)]="dormin" (openedChange)="payshare()">
              <mat-option value="1">22rd April</mat-option>
              <mat-option value="2">23rd April</mat-option>
              <mat-option value="3">24th April</mat-option>
              <mat-option value="4">25th April</mat-option>
              <mat-option value="5">26th April</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>check-out</mat-label>
            <mat-select [(value)]="dormout" (openedChange)="payshare()">
              <mat-option value="1">22rd April</mat-option>
              <mat-option value="2">23rd April</mat-option>
              <mat-option value="3">24th April</mat-option>
              <mat-option value="4">25th April</mat-option>
              <mat-option value="5">26th April</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="mainselect === 'main1'">
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected" (openedChange)="payshare()">
              <mat-option value="shared3">Triple Sharing</mat-option>
              <mat-option value="shared2">Double Sharing</mat-option>
              <mat-option value="entire">Entire Room</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- double/triple sharing #######################-->

          <div *ngIf="selected === 'shared2' || selected === 'shared3'">
            <form>
              <!-- <mat-form-field>
            <mat-label>Select an option</mat-label >
            <mat-select [(value)]="accomodationChoice" (openedChange)="payshare()">
              <mat-option value="t1">23rd to 26th April</mat-option>
              <mat-option value="t2">23rd to 27th April</mat-option>
              <mat-option value="t3">22rd to 26th April</mat-option>
              <mat-option value="t4">22rd to 27th April</mat-option>
            </mat-select>
            <mat-hint>checkin in after 1:00pm, checkout before 11:00 am </mat-hint>
        </mat-form-field> -->

              <mat-form-field>
                <mat-label>check-in</mat-label>
                <mat-select [(value)]="sharein" (openedChange)="payshare()">
                  <mat-option value="1">22rd April</mat-option>
                  <mat-option value="2">23rd April</mat-option>
                  <mat-option value="3">24th April</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>check-out</mat-label>
                <mat-select [(value)]="shareout" (openedChange)="payshare()">
                  <mat-option value="5">26th April</mat-option>
                  <mat-option value="6">27th April</mat-option>
                </mat-select>
              </mat-form-field>
              <br />

              <mat-form-field>
                <mat-label>Preferred Room mate</mat-label>
                <textarea matInput></textarea>
                <mat-hint>Alotted based on availability</mat-hint>
              </mat-form-field>
            </form>
          </div>

          <!-- Entire room #######################################-->

          <div *ngIf="selected === 'entire'">
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="fulltype" (openedChange)="payshare()">
                <mat-option value="2">Double Occupancy</mat-option>
                <mat-option value="3">Triple Occupancy</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>check-in</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                (dateInput)="entirecheckin('input', $event)"
                (dateChange)="entirecheckin('change', $event)"
                disabled
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker
                touchUi
                #picker1
                [startAt]="startDate"
                disabled="false"
              ></mat-datepicker>
              <mat-hint>Checkin only after 1:00pm</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>check-out</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                (dateInput)="entirecheckout('input', $event)"
                (dateChange)="entirecheckout('change', $event)"
                disabled
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                touchUi
                #picker2
                [startAt]="startDate"
                disabled="false"
              ></mat-datepicker>
              <mat-hint>Checkout only before 11:00am</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div style="font-family:'Times New Roman', Times, serif">
            ₹ {{ amount }}
          </div>
          <button class="pay-btn" mat-raised-button *ngIf="amount > 0">
            Proceed to Pay
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-6 col-md-6  col-xs-12 col-sm-12 bg-primary card-body text-white centered"
  >
    <div style="padding: 30%;">
      <span class="fa fa-bed" aria-hidden="true"></span>
      <h1>Book your stay Now..!</h1>
      <span [ngClass]="iconClass" style="font-size: 100px;"></span>
    </div>
  </div>
</div>
