<img src="https://i.ibb.co/7v6drbY/Schedule.jpg" alt="Schedule" class="banner">
<div class="main">
<div class='container'>
<mat-tab-group  mat-stretch-tabs [selectedIndex]="1" >

    <h2>
    <mat-tab label="April 23 (Day 0)"> <img src="https://i.ibb.co/4ZLQSk4/Day-00.jpg" alt="Day-00" > </mat-tab>
    <mat-tab label="April 24 (Day 1)"> <img src="https://i.ibb.co/NWM2Z66/Day-01.jpg" alt="Day-01" > </mat-tab>
    <mat-tab label="April 25 (Day 2)"><img src="https://i.ibb.co/b6Wxb4z/Day-02.jpg" alt="Day-02" >  </mat-tab>
    <mat-tab label="April 26 (Day 3)"><img src="https://i.ibb.co/D10RJpN/Day-03.jpg" alt="Day-03" > </mat-tab>
      </h2>
  
  </mat-tab-group>
</div>

</div>



