.container{
    margin : 3% auto 3% auto;
   
}
img{
        max-height:1000px;
}

 ::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: x-large;
   
}

.banner{
    margin : 0 0 0 0;
    width : 100%;
}


.main-container {
    justify-content: center;
  }
  