<img src="https://i.ibb.co/9g1s3j3/Schedule.jpg" alt="Schedule" class="banner">
<div class="main">
<div class='container'>
<mat-tab-group  mat-stretch-tabs [selectedIndex]="1" >

    <h2>
    <mat-tab label="April 23"> <img src="https://i.ibb.co/XFMXKZy/Day-00.jpg" alt="Day-00" > </mat-tab>
    <mat-tab label="April 24"> <img src="https://i.ibb.co/X2sjHLK/Day-01.jpg" alt="Day-01" > </mat-tab>
    <mat-tab label="April 25"><img src="https://i.ibb.co/W5fGKx6/Day-02.jpg" alt="Day-02" >  </mat-tab>
    <mat-tab label="April 26"><img src="https://i.ibb.co/rkhjKh5/Day-03.jpg" alt="Day-03" > </mat-tab>
      </h2>
  
  </mat-tab-group>
</div>

</div>