<div>
    <!-- <div class="sponsors">
      <div class="row"></div>
      <h3>Sponsors and Partners</h3>
      <img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      /><img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      /><img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      />
      
    </div> -->
    <div class="footer-social">
      <div class="icons">
        <a href="https://www.facebook.com/IndianNationals2020/"  target="_blank" class="fa fa-facebook-official" aria-hidden="true"></a>
        <!-- <a href="#" class="fa fa-twitter-square" aria-hidden="true"></a> -->
        <a href="https://www.instagram.com/indiannationals2020/"  target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
        <a href="mailto:chennaicubingclub@gmail.com,info@nats20.in" target="_blank" class="fa fa-envelope" aria-hidden="true"></a>
      </div>
      <div>
<!-- additional content maybe added -->
      </div>
    </div>
  </div>