<div>
    <!-- <div class="sponsors">
      <div class="row"></div>
      <h3>Sponsors and Partners</h3>
      <img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      /><img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      /><img
        src="https://www.worldcubeassociation.org/files/WCALogo3Dsmall.png"
        width="100%"
        height="100%"
      />
      
    </div> -->
    <div class="footer-social">
      <div class="icons">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div>
        <p>
          © 2019 Speedcubing Australia Inc. All Rights Reserved. A0061667X. ABN 51
          161 146 012
        </p>
      </div>
    </div>
  </div>