<div class="main">
<div class='container' >

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                1. Can I add more events after my registration is approved?
            </mat-expansion-panel-header>
            Yes, one can add more events after completing the registration and payment process. Please <a href="mailto: info@nats20.in sarvind@worldcubeassociation.org, chennaicubingclub@gmail.com, rubiks.sa@srmist.edu.in"> write to us </a>giving details of the same and we'll be glad to assist you.
            NOTE - Addition of events facility is available only before the registration period ends, no requests will be entertained under any circumstance after 12 April 2020.


        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               2. Can I change/remove the events I've registered for?
            </mat-expansion-panel-header>
            No, changing/removing events after your registration is approved is not allowed.
        
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
               3. What are the rules of this event?
            </mat-expansion-panel-header>
            The competition follows the <a href="https://www.worldcubeassociation.org/regulations/"> WCA Regulations</a>.<a href="https://www.youtube.com/watch?time_continue=1&v=dPL3eV-A0ww">Here </a> is a video summarising the important ones. There will be an official competitor tutorial on Saturday at 09:15 A.M. where all the important rules will be explained.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               4. Do I have to use my own cube to compete?
            </mat-expansion-panel-header>
            Yes! You are responsible for your own hardware in order to compete. This means you should bring your own puzzles.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               5. What is the normal age of competitors at these events? Are there age divisions?
            </mat-expansion-panel-header>
            The competition is open to competitors of all ages and gender. There will be only one combined ranking.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               6. How do I find the results?
            </mat-expansion-panel-header>
            All results are posted on the WCA website within a week after the competition finishes. However, for the day of competing, go to <a href = "https://live.worldcubeassociation.org/">this site </a>to find information about current events. This is also where you will find information about upcoming rounds of events. Remember, the results are entered by a human so please be patient if you do not see your results immediately.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               7. Can I attend the competition without competing?
            </mat-expansion-panel-header>
        
            Yes, you can attend the competition as a spectator. <br>
            
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               8. Do guests of competitors need to pay for the competition?
            </mat-expansion-panel-header>
        
            No, all spectators are free to attend the competition at no cost. There is a payment only to compete. However, if you require any other facilities such as travel and accommodation, that will be paid for.
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
               9. Can I have fun at this event?
            </mat-expansion-panel-header>
            More than you can imagine! Solving is just one part of the competition. There are also other things to keep you entertained.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              10. Is the schedule finalised?
            </mat-expansion-panel-header>
            Yes, the schedule given on our website and on the WCA competition page is the final schedule.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
               11. When do I need to be at the competition?
            </mat-expansion-panel-header>
            You will need to be at the location of your event at least 15 minutes before it is scheduled to start. You can check the start times <a href="#">here.  </a> Furthermore, before the competition, you must check-in at the registration desk. Please allow up to 30 minutes for this to be completed as the lines may be longer during peak times.
        
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              12. How will I know when it’s my turn to compete?
            </mat-expansion-panel-header>
        
            Before the competition, you will be provided with an individual schedule that contains your competing groups. 
            This information will be emailed to every participant beforehand. Please aim to be in the room where you are competing at least 15 minutes
             before the start of your group and pay attention to the announcements in the venue.
              If you miss your group, you won't be allowed to compete in that round under no circumstances.
        </mat-expansion-panel>

       <mat-expansion-panel  >
            <mat-expansion-panel-header >
              13. Is there food at the competition?
            </mat-expansion-panel-header>
<!-- 
            There are quite a few options available for competitors as well as parents coming to the venue for the competition
         
         <br>
            <mat-list>
            <mat-list-item>
                 1) Java - Java is the college cafeteria where there are multiple shops available. It caters to a variety of taste buds by offering different cuisines including North Indian, South Indian, Chinese, and Arabic. There is also a Subway outlet available.
           </mat-list-item>
           
           <mat-list-item>
                 2) Fast Food Joints - There are various fast food joints located in the vicinity of the campus, such as KFC, McDonald's, Domino's and Burger King. All of these are located within a distance of 2 to 3 km from the campus.
                </mat-list-item>
                 <mat-list-item>
                 3) A number of Food Stalls will also be arranged during the competition at the venue.
            Apart from the above, you can also order food through any of the delivery apps and can be picked up at the main gate.
        </mat-list-item>
    
    </mat-list> -->
    There are quite a few options available for competitors as well as parents coming to the venue for the competition.
    There's a cafeteria that has shops of various cuisines, there's a subway outlet in the campus. There are various food joints like KFC and McDonalds in the vicinity of the campus. A few stalls will be arranged at the venue. Apart from these, you can also order from any of the delivery apps which can be picked up at the main gate.
    <br>
    Note: Food is not allowed inside any of the auditoriums.


        </mat-expansion-panel>

      





      </mat-accordion>


</div>

</div>