mat-expansion-panel {
    text-align: left;
    height: 100%;
  }
  .main-container {
    justify-content: center;
  }
  .banner{
    margin : opx;
    width : 100%;
}

.main{
  margin-top: 40px;
  margin-bottom: 40px;
}