
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.banner{
    margin : 0 0 0 0;
    width : 100%;
}
.blocks{
    display: inline-block;
    height: 100%;
    margin: 20px;
  }
  
  
  
  
  mat-card img{
    object-fit: cover; 
    width: 100%; 
    max-height: 500px;
    margin-bottom: 20px;
    
  }
   
  .mat-card-header {
    
   justify-content: center;
  }
  
  .mat-card p{
    color: #3a3a3a;
    text-align: justify;
  }
  
  .mat-card{
    background-color: #F3EED9;
    max-width: 350px;
  }
  
  .mat-card-title{
    font-weight: bold;
  }
  button{
      background-color:#56101b;
      color:#ebdcd7;
      height: 40px;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      outline: none;
      /* font-size: calc(20px + (30 - 14) * ((100vw - 300px) / (1600 - 300))); */
  }


  .count{
      padding: 0 10px 0 10px;
  }
  .order{
    margin-bottom: 30px;
    align-content: center;
  }

  .order-text-class{
    /* max-width: 350px; */
    background-color: #ebdcd7;
    font-size:calc(15px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  }