<img src="https://i.ibb.co/v4L9HGy/Merch.jpg" alt="Merch" class="banner" />

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet" />

<!-- 
<div style="margin-top: 30px;">
  Sales begin on March 03, 2020.
</div> -->

<div *ngIf="loggedIn===false" class="notloggedin">
  Please login to purchase merchandise.
            </div>

<div *ngIf="loggedIn===false" >


<div class="text-content">
      
  <div class="travel-header">
    Indian Nationals 2020's Official Merchandise
</div><br />
<p>
  Team Indian Nationals 2020 is proud to present to you our very own exclusive range of merchandise. 
  Order your custom merchandise and receive it when you attend the competition. 
</p>
<br />

</div>







<div class="container-fluid">
  <div class="row" style="margin: 30px 0px;">
    <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
      <mat-card class="blocks">
        <mat-card-header>
          <mat-card-title>Nats20 Signature T-Shirt</mat-card-title>
        </mat-card-header>
        <img
          src="https://i.ibb.co/PZq7YPf/Mr-T.jpg"
          class="img-responsive merch-image"
          alt="Saravanan"
        />
        <mat-card-content>
          <p>
            Have you ever experienced the thrill of getting an autograph from your hero? Here’s your chance – 
            The Indian Nationals 2020 team brings to you a special T-Shirt that has the autograph of not just one hero, 
            but a collection of heroes
             from all over the world possibly including World Record holders, World Champions and our very own Indian Heroes as well.
             <br>
             <br><b style="align-items: center !important;">Be an early bird!</b>
            <br> Order before March 7, 2020, 23:59 IST to save ₹50
          <br><br>*Sizes mentioned below are for round chest in inches.
            </p>

          <mat-form-field>
            <mat-label>Select Size</mat-label>
            <mat-select name="size1" [(value)]="merchInfo[0]" (openedChange)="updateAmount()" required>
              <mat-option value="XS">X-Small (34)</mat-option>             
              <mat-option value="S">Small (36)</mat-option>
              <mat-option value="M">Medium (38)</mat-option>
              <mat-option value="L">Large (40)</mat-option>
              <mat-option value="XL">X-Large (42)</mat-option>
              <mat-option value="XXL">XX-Large (44)</mat-option>
              <mat-option value="XXXL">XXX-Large (46)</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <span>
            <button class="normal-button" mat-button-raised (click)="dec(0)">-</button>

            <b class="count">{{ merchCount[0] }}</b>

            <button class="normal-button"  mat-button-raised (click)="inc(0)">+</button>
          </span>
          <br />
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12">
      <div class="coming-soon">
        More merch to come... <br>
        Stay tuned!
      </div>
     

    </div>
    <!-- <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
      <img
        src="https://i.ibb.co/qg67cTx/a.jpg"
        class="img-responsive placeholder" />
    </div> -->
  </div>
</div>
<div class="order">
  <div [innerHTML]="orderText" class="order-text-class"></div>
  <div style="font-family:'Times New Roman', Times, serif">₹ {{ amount }}</div>
  <button
  class="pay-button"
    mat-raised-button
    (click)="makeMerchOrder()"
    *ngIf="amount > 0" >
    Proceed to Pay
  </button>
</div>


<div class="container">
  <div class="text-header">FAQs</div>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        1. If I place my order today, when will I get my merchandise?
      </mat-expansion-panel-header>
      All merchandise will be given to each participant in the registration counter at Indian Nationals 2020.
       So if you wanted to wear it for the competition, fear not, you’ll get it on time to change and rock the stage.
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        2. Can I get the merchandise even if I'm not attending the Nationals?
      </mat-expansion-panel-header>
      Fear not, place the order and drop an email to info@nats20.in with the words ‘Nats Merchandise 
      for Non-Participant’ as the subject.
       Our organising team will contact you and get it shipped to you post-competition...
    </mat-expansion-panel>
  
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        3. Can I return my T-Shirt in case the size does not fit?
      </mat-expansion-panel-header>
      Since this is custom-made-to-order merchandise, we, unfortunately, 
      will not be able to process returns or refunds for the merchandise. However, if you feel that
       you have given us the wrong size by mistake, 
      please drop an email with the words ‘Merchandise change in size’ in the subject box to info@nats20.in before March 31, 2020.
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        4. What material is the T-Shirt?
      </mat-expansion-panel-header>
        Our T-Shirt is made of pure 100% cotton for comfortable wearing even during the hottest days of summer ;-)
    </mat-expansion-panel>
  
  </mat-accordion>
  </div>

  <div class="disclaimer">
    *The images are for illustrative purposes only and designed to be a representation of the final product.
     The final product will only contain the core elements of the said merchandise (such as the actual signatures in the T-Shirt) 
     and will be way cooler.
  </div>

  
  </div>