<img src="https://i.ibb.co/v4L9HGy/Merch.jpg" alt="Merch" class="banner">

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div style="margin-top: 30px;">
    Sales begin on March 03, 2020. 
    
</div>

<div>


    <mat-card class="blocks" id="merch1">
        <mat-card-header>
          
          <mat-card-title>Saravanan Gowthaman</mat-card-title>
          
        </mat-card-header>
        <img src="https://i.ibb.co/t3XKP15/Saravanan.jpg" alt="Saravanan" >
        <mat-card-content>
          <p>
            A cuber since 2015, he has attended 37 competitions and organised over 15 competitions. Saravanan leads the Website team of the Organizing Committee.
            
          </p>
          
          <mat-form-field>
            <mat-label>Select Size</mat-label>
            <mat-select [(value)]="merch1Size">
              <mat-option value="S">Small</mat-option>
              <mat-option value="M">Medium</mat-option>
              <mat-option value="L">Large</mat-option>
              <mat-option value="XL">X-Large</mat-option>
              <mat-option value="XXL">XX-Large</mat-option>

            </mat-select>
          </mat-form-field>


        </mat-card-content>
        <mat-card-actions>
            <span>

            <button mat-button-raised (click)="dec(0)">-</button>

            <b class= "count">{{merchCount[0]}}</b>
            


            <button mat-button-raised (click)="inc(0)">+</button>

            </span>
            <br>
        
        </mat-card-actions>
      
      </mat-card>




      <div>
        
   
        <img src="https://i.ibb.co/qg67cTx/a.jpg" alt="Saravanan" >
  
      </div>


</div>


<div class="order">
  <div [innerHTML]="orderText" class="order-text-class">

  </div>
  <div style="font-family:'Times New Roman', Times, serif">
    ₹ {{ amount }}
  </div>
  <button class="pay-btn" mat-raised-button (click)=makeMerchOrder() *ngIf="amount > 0">
    Proceed to Pay
  </button>
</div>
