<img src="https://i.ibb.co/v4L9HGy/Merch.jpg" alt="Merch" class="banner">

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div style="margin-top: 30px;">
    Sales begin on March 01, 2020. 
    
</div>
<!-- 

<div>


    <mat-card class="blocks">
        <mat-card-header>
          
          <mat-card-title>Saravanan Gowthaman</mat-card-title>
          
        </mat-card-header>
        <img src="https://i.ibb.co/t3XKP15/Saravanan.jpg" alt="Saravanan" >
        <mat-card-content>
          <p>
            A cuber since 2015, he has attended 37 competitions and organised over 15 competitions. Saravanan leads the Website team of the Organizing Committee.
            <br>&nbsp;
          </p>
          
        </mat-card-content>
        <mat-card-actions>
            <span>

            <button mat-button-raised (click)="dec(0)">-</button>

            <b class= "count">{{merch[0]}}</b>
            


            <button mat-button-raised (click)="inc(0)">+</button>

            </span>
            <br>
         <button mat-button-raised>Add to cart</button>
        
        </mat-card-actions>
      
      </mat-card>





      
    <mat-card class="blocks">
        <mat-card-header>
          
          <mat-card-title>Saravanan Gowthaman</mat-card-title>
          
        </mat-card-header>
        <img src="https://i.ibb.co/t3XKP15/Saravanan.jpg" alt="Saravanan" >
        <mat-card-content>
          <p>
            A cuber since 2015, he has attended 37 competitions and organised over 15 competitions. Saravanan leads the Website team of the Organizing Committee.
            <br>&nbsp;
          </p>
          
        </mat-card-content>
      
      </mat-card>



</div> -->